/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

a,
a:link,
a:visited {  color: #000;}


.front h1.title { display: none}
.hbg, #region-sidebar-first .block, .page-node .panel-node, .page-search #region-content, #section-footer .region { background-color: #FFF;}
.pad20 { padding: 20px}
.pad15 { padding: 15px}
.pad10 { padding: 10px}
.pad5 { padding: 5px}

.margin-bund-20 { margin-bottom: 20px}

.front .view-seneste-ny .views-row { clear: both; margin-bottom: 10px; min-height: 90px; border-bottom: 1px solid #dcdcdc; padding-bottom: 10px;}
.front .view-seneste-ny .views-row-last { border-bottom: none;}
.front .view-seneste-ny .billede { float: left; margin-right: 20px; }
#region-sidebar-first ul.menu { margin: 10px;}
#region-sidebar-first ul.menu li ul { margin: 0;}
#zone-content-wrapper { min-height: 363px;
}
#region-content { min-height: 325px;}
#section-header, #zone-branding  { 
	background-image: none !important;
}
#section-content { background-image: url(img/section-content-bg.png); background-position: center 20px; background-repeat: no-repeat}

#region-branding { height: 85px !important;}

#section-footer { position: relative !important; margin-top: 10px;}

#region-footer-first .region-inner { padding: 45px 135px 10px 12px;  background-image: url(img/footer-bg-odsherred.png); background-repeat: no-repeat; }
#region-preface-first { margin-bottom: 10px;}
.view-banner { border: 5px solid #FFF; position: relative; background-color: #FFF;}
.view-banner h3 { 
	position: absolute; 
	top: 0; left: 0; 
	font-size: 40px; 
	max-width: 100%; height: auto; max-height: 100%;
	width: 100%; height: 100%; display: block; text-decoration: none; background-clip:padding-box; background-image: url(img/TopImageOverlay.png);}
.view-banner h3 a {height: 250px; width: 42%; padding-left: 3%; padding-right: 55%; padding-top: 15px; ;z-index: 200; display: block; text-decoration: none; color: #FFF; font-weight: normal; font-style: italic;}

.not-front #region-content .region-content-inner { background-color: #FFF; padding: 10px;}

.view-banner .views-slideshow-controls-text.views_slideshow_controls_text,
.view-banner .background-images {display: block !important}

.view-banner #views_slideshow_controls_text_previous_banner-block {}

.view-banner img.banner { max-width: 100%; height: auto; max-height: 100%;}

#views_slideshow_controls_text_pause_banner-block { display: none}
#views_slideshow_controls_text_previous_banner-block { position: absolute; bottom: 30px; left: 20px; z-index: 99; text-indent: 99999px; background-image: url(img/arrow-left-white.png); width: 13px; height: 11px; overflow: hidden}
#views_slideshow_controls_text_next_banner-block { position: absolute; bottom: 30px; left: 50px; z-index: 99;text-indent: 99999px; background-image: url(img/arrow-right-white.png); width: 13px; height: 11px; overflow: hidden}

.front .region-header-first-inner { padding-left: 0 !important;}

.section-header .block-search { background-color: transparent;}
.section-header .block-search .form-type-textfield input { background-color: #FFF; color: #333;;}

.section-header .block-search { 
	height: 44px;
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	padding: 5px;
	}

.section-header .block-search input[type="submit"] {
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 36px;
	height: 32px;
	outline: 0;
	border: none;
	border-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent url(green/search-btn.png) no-repeat;
	color: #333;
	text-shadow: none;
	font: bold 12px/1.2 Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	text-indent: -9999999px;
	}

.section-header .block-search input[type="text"] {
	height: 34px;
	background-color: transparent;
	font-size: 14px;
	margin-right: 0;
	padding-right: 0;
	border: none;
	background-image: url(img/search-bg.png);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	float: left;
	background-repeat: no-repeat;
	}
	
#region-sidebar-first .block {
	padding-top: 2px; }
	
#region-user-first { height: auto !important}
#region-header-second { padding-bottom: 10px !important; padding-top: 30px !important; height: 15px !important; }
#region-user-first a, #region-header-second a { color: #000 !important}


.view-kontaktblok a { text-decoration: none;}
.view-kontaktblok h3 { margin-bottom: 15px;}
.view-kontaktblok .views-field-field-email { margin-bottom: 10px; margin-top: 10px;}
.view-kontaktblok .ean { margin-top: 10px;}

.site-slogan {
	float: right;
	font-style: italic;
	margin-right: 10px;
	font-size: 15px;
}

.view-spotbokse { position: relative; font-size: 12px;}
.view-spotbokse a:link,
.view-spotbokse a:visited { text-decoration: none; color: #000;}
.view-spotbokse .ekstratekst { position: absolute; bottom: 0px; background-image:url(img/spot-tekst-bg.png); }
.view-spotbokse .ekstratekst .titel { display: block; font-size: 14px; border-top: 4px solid #00538F; padding: 5px 10px; }
.view-spotbokse .ekstratekst .resten { display: block; padding: 0 10px 5px; }